<footer class="page-footer">
    <a class="page-footer__hashtag" href="#">
        #VISITSEDONA
    </a>
    <ul class="page-footer__social-links-list">
        <li class="page-footer__social-links-list-item">
            <a href="#" class="page-footer__social-link">
                <svg width="20" height="20" aria-hidden="true" class="page-footer__social-link-icon">
                    <use xlink:href="img/svg/icons/sprite.svg#icon-twitter"></use>
                </svg>
            </a>
        </li>
        <li class="page-footer__social-links-list-item">
            <a href="#" class="page-footer__social-link">
                <svg width="20" height="20" aria-hidden="true" class="page-footer__social-link-icon">
                    <use xlink:href="img/svg/icons/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        <li class="page-footer__social-links-list-item">
            <a href="#" class="page-footer__social-link">
                <svg width="20" height="20" aria-hidden="true" class="page-footer__social-link-icon">
                    <use xlink:href="img/svg/icons/sprite.svg#icon-youtube"></use>
                </svg>
            </a>
        </li>
    </ul>
    <a class="page-footer__developed-by" href="#">
        <span class="page-footer__developed-by-text">Разработано</span>
        <svg width="28" height="34" aria-hidden="true" class="page-footer__developed-by-icon">
            <use xlink:href="img/svg/icons/sprite.svg#icon-htmlacademy"></use>
        </svg>
    </a>
</footer>