{% set linksLeft = [{"title": "Главная", "url": "index.html"}, {"title": "Фото и видео", "url": "photo.html"}] %}
{% set linksRight = [{"title": "Форма отзыва", "url": "form.html"}, {"title": "Html Academy", "url": "https://htmlacademy.ru/"}] %}


<div class="preloader"></div>
<header class="page-header">
    <nav class="main-nav">
        <div class="main-nav__logo">
            <picture>
                <source srcset="img/svg/logo/SedonaNavLogoDesktop.svg" media="(min-width: 960px)">
                <img src="img/svg/logo/SedonaNavLogo.svg" width="102" height="82" alt="Седона логотип" class="main-nav__logo-image">
            </picture>
        </div>
        <div class="main-nav__links-container">
            <ul class="main-nav__list main-nav__list--left">
            {% for link in linksLeft %}
                <li class="main-nav__list-item">
                    <a href="{{ link.url }}" class="main-nav__link">
                        {{ link.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
            <ul class="main-nav__list main-nav__list--right">
            {% for link in linksRight %}
                <li class="main-nav__list-item">
                    <a href="{{ link.url }}" class="main-nav__link">
                        {{ link.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <button class="main-nav__button">
            <span class="main-nav__burger">
                <span class="main-nav__burger-bar"></span>
                <span class="main-nav__burger-bar"></span>
                <span class="main-nav__burger-bar"></span>
            </span>
            <span class="main-nav__button-description">Открыть меню</span>
        </button>
    </nav>
</header>