// Colors

$secondary-blue: #81b3d2;
$light-grey: #eeeeee;


// Padding 

$mobile-padding: 20px;
$tablet-padding: 60px;
$desktop-padding: 120px;


// Breakpoints


$mobile-large-width: 576px;
$tablet-width: 720px;
$desktop-width: 960px;


// Retina

$dpi: 144dpi;
$dppx: 1.5dppx;